<div class="container">
	<div class="col-md-6" id="networkProfile">
		<h2>Network Profile</h2>
		<ul id="npList">
			
		</ul>
		<input class="form-control" id="npName" placeholder="Enter NP Name To Add or ID to Delete"></input>
		<br>
		<button class="btn btn-primary addBtn" >Add NP</button>
		<button class="btn btn-danger deleteBtn">Delete NP (use ID)</button>
	</div>
	<div class="col-md-6" id="trafficProfile">
		<h2>Traffic Profile</h2>
		<ul id="tpList">
		</ul>
		<input class="form-control" id="tpName" placeholder="Enter TP Name To Add or ID To Delete"></input>
		<br>
		<button class="btn btn-primary addBtn" >Add NP</button>
		<button class="btn btn-danger deleteBtn">Delete NP (use ID)</button>
	</div>
</div>